.banner-doc {
    width: 100%;
    height: 600px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-image: url(/asset/img/banner.png);
}

.item-doc {
    padding: 50px 0;
    border-radius: 10px;
    box-shadow: 0 0 15px 0 rgb(117, 117, 117);
    transition: all ease-in-out 0.5s;
}

.icon {
    font-size: 60px;
}
.doc-1 {
    border: solid 3px #CD5C5C;
}
.doc-2{
    border: solid 3px #1abc9c;
}
.doc-3{
    border: solid 3px #2e86c1;
}

.item-conten .item-doc-a {
    color: black;
}

.doc-1:hover {
    background-color: #CD5C5C;
}
.doc-2:hover{
    background-color: #1abc9c;
}
.doc-3:hover{
    background-color: #2e86c1;
}

