body {
    margin: 0;
    font-family: Arial, sans-serif;
    font-weight: 200;
}

.header-nav {
    background-color: #ffffff;
    border-bottom: 2px solid #eeeeee;
    padding: 25px 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.logo-section {
    display: flex;
    align-items: center;
}

.logo-section img {
    height: 200px;
    width: auto;
    position: absolute;
}

.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
}

.menu ul li {
    margin: 0 15px;
    transition: all ease-in-out 0.5s;
}

.menu ul li a {
    text-decoration: none;
    font-size: 18px;
    color: #1a237e;
    font-weight: bolder;
    margin-right: 30px;
    transition: all ease-in-out 0.5s;
}

.menu ul li a:hover {
    color: #7781ee;
}

.imgicon {
    width: 40px;
    height: auto;
    margin-left: 20px;
}

.menu ul li i {
    padding-left: 10px;
}
