
.container-record-detail {
  max-width: 800px;
  margin: 50px auto;
  background: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  margin-top: 150px;
}

h1 {
  text-align: center;
  color: #333;
  margin-bottom: 25px;
  border-bottom: 1px solid #333;
  padding-bottom: 15px;
}



.record {
  padding: 15px;
  border-bottom: 1px solid #333;
}

.record button {
  padding: 10px 15px;
  border: none;
  background-color: #28a745;
  color: white;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 600px;
  bottom: 20px;
  position: relative;
}

.record button:hover {
  background-color: #218838;
}

.greenblock {
  background-color: #28a745;
  color: #28a745;
  padding: 20px;
  position: absolute;
  margin-bottom: 75%;
  padding-left: 100%;
}

.form-detail-other {
  display: none;
}

.row-detail {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 15px;
}

.field-detail  {
  flex: 1;
  min-width: 150px;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  margin-bottom: 5px;
  font-size: 14px;
  color: #333;
}

.fixtextlabel {
  padding-top: 8px;
  color: #797979;
}

.blockbg{
  background-color: #e6e6e6;
  border-radius: 10px;
  padding: 10px;
  margin-top: 10px;
}