.seach-info {
    height: 80vh;
    align-items: center;
}

.seach {
    width: 1000px;
    height: 400px;
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
    box-shadow: 0 0 15px 0 gray;
}
.seach-tab {
    display: flex;
    align-items: center;
}

.seach-tab i {
    background-color: gray;
    padding: 15px;
    color: white;
    font-size: 30px;
}

.seach-tab input{
    padding: 10px 10px;
    width: 700px;
    height: 60px;
    border: 2px solid gray;
    outline: none;
    font-size: 20px;
}

.btn-seach input {
    padding: 20px 100px;
    border-radius: 50px;
    border: 2px green solid;
    background: none;
    margin-top: 30px;
}

.btn-search {
    padding: 10px 50px;
    border: 2px green solid;
    background: none;
    border-radius: 10px;
    transition: all ease-in-out 0.5s ;
}

.btn-search:hover {
    background: green;
    color: white;
}


