<footer class="mt-5">
    <div class="container">
    <div class="footer-contect row">
        <div class="costomer-service box col-xl-4 col-lg-6 col-sm-12">
            <div class="text-header">
                <p>Customer Service</p>
            </div>
            <div class="text-body">
                <ul>
                <li><a href="#">Customer service</a></li>
                <li><a href="#">FAQ</a></li>
                <li><a href="#">Accessibility Statement</a></li>
                <li><a href="#">How to Order</a></li>
                <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>
        </div>
        
        <div class="sitemap box col-xl-4 col-lg-6 col-sm-12">
            <div class="text-header">
                <p>Site Map</p>
            </div>
            <div class="text-body">
                <ul>
                <li><a href="#">Product</a></li>
                <li><a href="#">Promotion</a></li>
                <li><a href="#">Idea for Home Decorations</a></li>
                </ul>
            </div>
        </div>

        <div class="contact-us box col-xl-4 col-lg-6 col-sm-12">
            <div class="text-header">
                <p>Contact Us</p>
            </div>
            <div class="text-body">
                <ul>
                <li>Dreamy Home Co.</li>
                <li><i class="fa-solid icon-footer fa-location-dot"></i>2410 2 Phahonyothin Rd, Sena Nikhom, Chatuchak, Bangkok 10900</li>
                <li><i class="fa-solid icon-footer fa-envelope"></i>DreamyHome@gmail.com</li>
                <li><i class="fa-solid icon-footer fa-phone"></i>098-669-1222</li>
                </ul>
            </div>
        </div>

    </div>
    </div>
</footer>