<footer>
    <div class="container">
        <div class="footer-container">
            <div class="footer-section">
                <h3>บริการ</h3>
                <ul>
                    <li>ศูนย์และคลินิก</li>
                    <li>ค้นหาแพทย์</li>
                    <li>ทำเนียบ</li>
                    <li>แพ็กเกจและโปรโมชั่น</li>
                    <li>Your Healthcare Intelligence</li>
                    <li>เทคโนโลยีของเรา</li>
                    <li>สมาชิกบัตรร่วมด่วนพิเศษ</li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>เกี่ยวกับเรา</h3>
                <ul>
                    <li>ข้อมูลโรงพยาบาล</li>
                    <li>ข่าวสารและกิจกรรม</li>
                    <li>ความร่วมมือกับนานาชาติ</li>
                    <li>รางวัลและการรับรอง</li>
                    <li>ร่วมงานกับเรา</li>
                    <li>นักลงทุนสัมพันธ์</li>
                    <li>ติดต่อเรา</li>
                    <li>ขอเอกสารทางการแพทย์</li>
                </ul>
            </div>
            <div class="footer-section contact">
                <h3><a href="#">Contact</a></h3>
                <p>มหาวิทยาลัยศรีปทุม</p>
                <p>โทร: 02 310 3000 หรือ 1719</p>
                <p>อีเมล: <a>SUPMED@gmail.com</a></p>
                <p>
                    <a href="#">Facebook : SUPMED.Official</a><br>
                    <a href="#">LINE : @SUPMED.Official</a>
                </p>
            </div>
        </div>
    </div>
</footer>