<header class="header-nav">
    <div class="container">
        <div class="header-container">
            <div class="logo-section">
                <img src="asset/img/logoDoc.png" alt="Logo">
            </div>
            <nav class="menu">
                <ul>
                    <li><a href="user.html">หน้าหลัก</a></li>
                    <li><a href="#">บริการ<i class="fa-solid fa-caret-down"></i></a></li>
                    <li><a href="#">ข้อมูลสุขภาพ<i class="fa-solid fa-caret-down"></i></a></li>
                    <li><a href="#">เกี่ยวกับเรา<i class="fa-solid fa-caret-down"></i></a></li>
                    <i class="fa-solid fa-user"></i>
                </ul>
            </nav>
            
        </div>
    </div>
</header>

    
    
