    <div class="nav-info">
        <div class="container">
            <div class="navbody">
                <div class="left-nav">
                        <img src="asset/img/logofull.png" alt="">
                    <ul class="nav-list">
                        <li><a href="#">บริการ</a></li>
                        <li><a href="#">ข้อมูลสุคภาพ</a></li>
                        <li><a href="#">เกี่ยวกับเรา</a></li>
                    </ul>
                </div>
                <div class="right-nav">
                    <div class="login-btn">
                        <div class="login">
                            <p>Login</p>
                        </div>
                        <div class="line-login"></div>
                        <div class="register">
                            <p>Register</p>
                        </div>
                    </div>
                    <div class="icon-bar" id="icon-bar">
                        <i class="fa-solid fa-bars bar"></i>
                    </div>
                </div>
            </div>
    
            <div class="nav-dropdown" id="nav-dropdown">
                <ul class="nav-drop">
                    <li><a href="#">Products</a></li>
                    <li><a href="#">Promotion</a></li>
                    <li><a href="#">Idea for Home Decoration</a></li>
                </ul>
            </div>
        </div>
    </div>
    
    
