<div class="nav-Doc-info w-100">
    <div class="container">
        <div class="nav-doc-body d-flex justify-content-between align-items-center">
            <div class="img-logo">
                <img src="asset/img/logoDoc.png" alt="">
            </div>
            <div class="left-side">
                <div class="nav-list">
                    <ul class="d-flex gap-3">
                        <a href="mainDoctor.html">หน้าหลัก</a>
                        <a href="#"><li>ค้นหาข้อมูลผู้ป่วย</li></a>
                        <a href="fromhistory.html"><li>เพิ่มข้อมูลผู้ป่วย</li></a>
                        <a href="#"><li>ตารางเวลานัด</li></a>
                    </ul>
                </div>
            </div>

            <div class="right-side d-flex">
                <div class="username-show me-5">
                    <p>นพ.นริน เทพจุติ <i class="fa-solid fa-angle-down"></i></p>
                </div>
                <div class="user-profile">
                    <i class="fa-solid fa-user"></i>
                </div>
            </div>

        </div>
    </div>
</div>